
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-18 at 11.44.31 AM.png
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-18 at 11.44.22 AM.png
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-18 at 11.22.17 AM.png
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-18 at 11.19.52 AM.png
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-17 at 3.17.02 PM.png
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-17 at 3.01.56 PM.png
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-12 at 5.52.16 PM.png
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-12 at 5.51.57 PM.png
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-12 at 5.45.22 PM.png
Artificial_Intelligence/Ejercicio_2/Screen Shot 2021-03-03 at 10.21.20 AM.png
Artificial_Intelligence/Ejercicio_2/Plotting_Refresh
Artificial_Intelligence/Ejercicio_2/funciones_pertenencia.py
Artificial_Intelligence/Ejercicio_2/ejercicio_2.mov
Artificial_Intelligence/Ejercicio_2/curve_adjustment_WORKING.py
Artificial_Intelligence/Ejercicio_2/curve_adjustment_Backup_Debug.py
Artificial_Intelligence/Ejercicio_2/curve_adjustment.py
Artificial_Intelligence/Ejercicio_2/conjuntos_difusos.py
Artificial_Intelligence/Ejercicio_1/graph.py
Artificial_Intelligence/Ejercicio_1/Ejercicio_1.rtf
Artificial_Intelligence/Ejercicio_1/ejercicio_1.c
Artificial_Intelligence/Ejercicio_1/ejercicio_1
Artificial_Intelligence/Ejercicio_1/distance_graph.csv
Artificial_Intelligence/Ejercicio_1/best_route.csv
Artificial_Intelligence/Ejercicio_1/AI_Galaviz_Ejercicio_1.mov
Artificial_Intelligence/ejercicio_1.c
Artificial_Intelligence/ejercicio_1
Artificial_Intelligence/distance_graph.csv
Artificial_Intelligence/best_route.csv
Artificial_Intelligence/.DS_Store
Architecture_Of_uC/Activity_9_Architecture_of_uC/ESP8266_Master/ESP8266_Master.ino
Architecture_Of_uC/Activity_8_Architecture_of_uC.pdf
Architecture_Of_uC/Activity_7_Architecture_of_uC.pdf
Architecture_Of_uC/Activity_6_Architecture_of_uC.pdf
Architecture_Of_uC/Activity_5_Architecture_of_uC.pdf
Architecture_Of_uC/Activity_4_Architecture_of_uC.pdf
Architecture_Of_uC/Activity_3_Architecture_of_uC.pdf
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/newpic_8b_asm_func.s
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/newpic_8b_asm_func.asm
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/project.xml
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/private/private.xml
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/private/configurations.xml
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/Package-default.bash
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/Makefile-variables.mk
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/Makefile-local-default.mk
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/Makefile-impl.mk
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/Makefile-genesis.properties
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/Makefile-default.mk
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/nbproject/configurations.xml
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/Makefile
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/build/default/production/newpic_8b_asm_func.rlf
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/build/default/production/newpic_8b_asm_func.lst
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/build/default/production/newpic_8b_asm_func.i
Architecture_Of_uC/Activity_2_Section_1_A/Activity_2_1_A.X/build/default/production/newpic_8b_asm_func.d
Architecture_Of_uC/Activity_2_Section_1_A/.DS_Store
Architecture_Of_uC/Activity_2_Architecture_of_uC.pdf
Architecture_Of_uC/Activity_1_Architecture_of_uC.pdf
Architecture_Of_uC/Activity_12_Architecture_of_uC.pdf
Architecture_Of_uC/Activity_10_Architecture_of_uC.pdf
Architecture_Of_uC/.DS_Store
Architecture_and_SW_Design/Actividad_1.docx
Architecture_and_SW_Design/Actividad 2 - Patrones de Diseño de Software.docx
